<div class="container-fluid mb-lg-5">
<app-avatar username="firstUser"></app-avatar>
  <app-header title="Pets"></app-header>
<div class="container-fluid">
  <div class="mb-lg-1">
  <button type="submit" class="btn btn-primary" routerLink="/add">Add pet</button>
  </div>
  <table class="table border-top">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        <app-sort fieldName="name" [orderBy]="orderBy" [direction]="orderDirection" [onClick]="onClickFunction">
      </app-sort></th>
      <th scope="col">
        <app-sort fieldName="code" [orderBy]="orderBy" [direction]="orderDirection" [onClick]="onClickFunction">
        </app-sort></th>
      <th scope="col">
        <app-sort fieldName="type" [orderBy]="orderBy" [direction]="orderDirection" [onClick]="onClickFunction">
        </app-sort></th>
      <th scope="col">
        <app-sort fieldName="color" [orderBy]="orderBy" [direction]="orderDirection" [onClick]="onClickFunction">
        </app-sort></th>
      <th scope="col">
        <app-sort fieldName="origin" [orderBy]="orderBy" [direction]="orderDirection" [onClick]="onClickFunction">
        </app-sort></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pet of pets let i=index">
      <th scope="row">{{i + 1}}</th>
      <td>{{pet.name}}</td>
      <td>{{pet.code}}</td>
      <td>{{pet.type}}</td>
      <td>{{pet.color}}</td>
      <td>{{getCountry(pet.origin)}}</td>
      <td>
        <button type="submit" class="btn btn-primary" (click)="directToEdit(pet)">Edit pet</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="container" *ngIf="pets.length==0">
    <h6 class="fst-italic text-center">No entries so far</h6>
  </div>
</div>
  <app-footer></app-footer>
</div>
