<div class="container-fluid mb-lg-5">
  <app-close link="/pets"></app-close>
  <app-header [title]="title"></app-header>
  <div class="container mt-4">
    <form [formGroup]="changeForm" (ngSubmit)="onClick()">
      <fieldset>
        <app-text-field name="Name" [errorText]="errorMessages.name" [control]="this.changeForm.controls['name']"></app-text-field>
        <app-text-field name="Code" [errorText]="errorMessages.code" [control]="this.changeForm.controls['code']"></app-text-field>
        <app-select-field name="Type" [values]="types" [control]="this.changeForm.controls['type']"></app-select-field>
        <app-select-field name="Fur Color" [values]="colors" [control]="this.changeForm.controls['color']"></app-select-field>
        <app-select-field name="Country" [errorText]="errorMessages.other" [values]="countries" [control]="this.changeForm.controls['origin']"></app-select-field>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-primary fs-5" type="submit"
                  [disabled]="!changeForm.valid">{{buttonTitle}}</button>
        </div>
      </fieldset>
    </form>
  </div>
  <app-footer></app-footer>
</div>
