<div class="mb-4">
  <label for="text-field" class="form-label ms-sm-1 text-dark">{{name}}</label>
  <input type="text" id="text-field" class="form-control" placeholder="{{name}}"
         [formControl]="control" value="">
  <div class="text-danger ms-lg-2 mb-0 mt-0">
    <small [class]="getErrorClass()">{{errorText}}</small>
  </div>
  <div *ngIf="control.touched && control.errors" class="text-danger ms-lg-2 mb-0 mt-0">
    <small>{{getFrontendErrorMessage()}}</small>
  </div>
</div>
