<div class="mb-4">
  <label for="selector" class="form-label ms-sm-1 text-dark">{{name}}</label>
  <select class="form-select" aria-label="Type" id="selector" [formControl]="control">
    <option [selected]="isChooseSelected" disabled value="">Choose...</option>
    <option *ngFor="let value of values" value="{{value}}" [selected]="isSelected(value)">
      {{getOption(value)}}
    </option>
  </select>
  <div class="text-danger ms-lg-2">
    <small [class]="getErrorClass()">{{errorText}}</small>
  </div>
</div>
