<div class="container position-absolute top-0 mt-lg-5">
  <div class="position-relative">
    <a href="#" class="text-decoration-none text-reset position-absolute end-0 me-5" [routerLink]="link">
      <span><i class="bi bi-x-circle"></i></span>
    </a>
  </div>
</div>
