<div class="container-fluid mb-lg-5">
  <app-close [link]="linkOnClose" [class]="closeVisibility"></app-close>
  <app-header [title]="title"></app-header>
  <app-assist></app-assist>
  <div class="container mt-4">
    <form [formGroup]="loginForm" (ngSubmit)="onClick()">
      <fieldset>
        <app-text-field name="Username" [errorText]="errorText" [control]="this.loginForm.controls['username']"></app-text-field>
        <app-text-field name="Password" [control]="this.loginForm.controls['password']"></app-text-field>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-primary fs-5" type="submit" [disabled]="!loginForm.valid">
            Continue
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <app-footer></app-footer>
</div>

