<section class="avatar">
  <div class="container position-absolute top-0 mt-lg-5">
    <div class="position-relative">
      <div class="avatar position-absolute end-0 me-lg-5">
        <div class="container">
          <a href="#" class="text-decoration-none text-reset px-5">
            <div class="col-2">
                <span class="fs-1">
                <i class="bi bi-person-circle position-relative px-3"></i>
              </span>
            </div>
            <div class="mt-0 text-center"><small>{{getUsername()}}</small></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
